<template>
  <div id="app">
    <b-navbar toggleable="md" type="dark" variant="info">
      <b-navbar-brand class="text-white">База данных &laquo;Ветеринарный центр №1&raquo;</b-navbar-brand>
      <b-navbar-brand href="#"><b-btn><icon>&#128269;</icon></b-btn></b-navbar-brand>
    </b-navbar>
    <b-container>
      <b-alert show variant="info" v-if="!patients.length">Введите информацию для поиска</b-alert>
      <b-alert show variant="info" v-if="!patients.length">Введите информацию для поиска</b-alert>
      <b-table striped :fields="header" :items="patients">
      </b-table>
    </b-container>
  </div>
</template>

<script>

export default {
  name: 'app',
  data () {
    return {
      header: [
        {key: "pet", sortable: true, label: 'Животное'},
        {key: "name", sortable: true, label: 'Имя'}
      ],
      patients: [
         // {
         //   id: 1,
         //   pet: "Кошка",
         //   name: "Дуся"}
       ]
    }
  },
  methods: {
    hello: function () { alert('Hello'); }
  }
}


</script>

<style>
</style>
